@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .grid-options {
        @apply  rounded-md h-full col-span-1 p-5 hover:opacity-75 border-2 hover:border-walmart-default
    }
   
}
body {
    background-color: white !important;
}

/* button[type='submit'] {
    background-color:#0861C2 !important;
    color: white !important;
} */